<form name="adminForm" novalidate>
    <div class="modal-header">
        <h2>Login as Admin</h2>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" ng-model="vm.username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" ng-model="vm.password" required>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="vm.login()" ng-disabled="!adminForm.$valid">Login</button>
        <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
    </div>
</form>