<div class="container content-container" ng-controller="RecruitmentCtrl as vm">
    <div ng-repeat="e in vm.springEvents" ng-if="$index === 0">
        <button ng-show="vm.loggedIn" class="btn btn-xs btn-primary pull-right" ng-click="vm.editSpring(e, $index)"><i class="glyphicon glyphicon-edit"></i></button>
        <h2>{{e.heading}}</h2>
    </div>
    <div ng-repeat="e in vm.springEvents" ng-class-odd="'row'" class="event-rows" ng-if="$index > 0">
        <div class="col-sm-5" ng-class-even="'col-sm-offset-1'">
            <button ng-show="vm.loggedIn" class="btn btn-xs btn-primary pull-right" ng-click="vm.editSpring(e, $index)"><i class="glyphicon glyphicon-edit"></i></button>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">{{e.heading}}</h4>
                </div>
                <div class="panel-body">
                    <div class="media-left">
                        <img class="media-object" ng-src="{{e.image}}" alt="event" height="136" width="136">
                    </div>
                    <div class="media-body media-middle">
                        <p>
                            {{e.date}}
                            <br>{{e.location}}
                            <br>{{e.time}}
                        </p>
                    </div>
                </div>
            </div>
            <p class="event-paragraph">{{e.description}}</p>
        </div>
    </div>
</div>
