<div class="container content-container" ng-controller="PhilanthropyCtrl as vm">
    <div class="col-sm-offset-1 col-sm-10">
        <h3>Philanthropy</h3>
        <p>
            The Sigma Lambda chapter of Lambda Chi Alpha takes pride in giving back to the Blacksburg community. Brothers participate in annual events hosted by Virginia Tech such as Greeks Giving Back and the Big Event. We also have a select group of brothers that volunteer at a local Special Olympics.
        </p>
        <p>
            Lambda Chi Alpha is a proud partner with Feeding America. Feeding America provided emergency food assistance to more than 37 million Americans in fiscal year 2012 and is ranked #4 in The 100 Largest U.S. Charities by Forbes. Our annual philanthropy Watermelon Bust allows us to collect money donations and non-perishable items for local food banks partnering with Feeding America. For more information on watermelon Bust follow the link below.
        </p>
        <button ui-sref="app.philanthropy.info" style="margin-bottom:1em;" class="btn btn-info">Watermelon Bust Info</button>
    </div>
    <div class="col-sm-5" ng-class-odd="'col-sm-offset-1'" ng-repeat="theta in vm.theta">
        <button ng-show="vm.loggedIn" class="btn btn-primary pull-right" ng-click="vm.edit(theta, $index)">Edit</button>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{{theta.name}}</h4>
            </div>
            <div class="panel-body">
                <div class="media-left">
                    <img class="media-object" ng-src="app/philanthropy/images/{{theta.img}}" alt="theta">
                </div>
                <div class="media-body media-middle">
                    <p>{{theta.zeta}}</p>
                    <p>{{theta.hol}}</p>
                    <p>{{theta.year}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
