<div class="container content-container" ng-controller="PhilanthropyCtrl as vm">
    <div class="col-sm-offset-1 col-sm-10">
        <h3 id="winner">{{vm.slides[0].winners}}</h3>
        <button ng-show="vm.loggedIn" class="btn btn-xs btn-primary pull-right" ng-click="vm.editSlides(vm.slides[0], 0)"><i class="glyphicon glyphicon-edit"></i></button>
        <div>
            <img id="winners" src="{{vm.slides[0].winnersPic}}" alt="winners">
        </div>
        <h3 id="slideshow">{{vm.slides[1].wbHeader}}</h3>
        <button ng-show="vm.loggedIn" class="btn btn-xs btn-primary pull-right" ng-click="vm.editSlides(vm.slides[1], 1)"><i class="glyphicon glyphicon-edit"></i></button>
        <div class="row col-sm-offset-1 col-sm-10">
            <carousel interval="3000">
                <slide ng-repeat="slide in vm.slides[1].slides">
                    <img ng-src="{{slide}}" style="margin:auto;height:305px">
                </slide>
            </carousel>
        </div>
    </div>
</div>
</div>
