<div class="container content-container" ng-controller="MembersCtrl as vm">
    <div class="col-sm-offset-1 col-sm-10">
        <h3>Alumni</h3>
        <p>
            Our alumni are a valued part of this fraternity, and as such we want to keep them involved as much as possible while we continually strive to better ourselves and further the outreach of our efforts. This past fall we held our most successful philanthropy and raised a large amount of money for Feeding America. Our goal for next fall is to use this success to launch our philanthropy to be the best on campus. To do this we believe that our alumni will allow us to take that next step and further the progress that was made last fall.
        </p>
        <p>
            As well as this, we want to make more individual connections between alumni and active members. So we will be helping our members connect to alumni that work in a similar sector and have experience with their particular field of work. This is meant to help create a better network between alumni and current members, so graduating brothers have a contact that may be able to point them in the direction of a job opportunity that could be beneficial.
        </p>
    </div>
    <div class="col-md-5 col-sm-7 col-sm-offset-1" ng-repeat="rho in vm.rho">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{{rho.name}}</h4>
            </div>
            <div class="panel-body">
                <div class="media-left">
                    <img class="media-object" ng-src="app/members/images/{{rho.img}}" alt="rho">
                </div>
                <div class="media-body media-middle">
                    <p ng-repeat="p in rho.info">{{p}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
