<form name="rhoEditForm" novalidate>
    <div class="modal-header">
        <h2>Edit Alumni Chair</h2>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" ng-model="rho.name" required>
        </div>
        <div class="form-group">
            <label for="zeta">Zeta Position (If Held)</label>
            <input type="text" name="zeta" class="form-control" ng-model="rho.zeta">
        </div>
        <div class="form-group">
            <label for="hol">High or Low Position</label>
            <input type="text" name="hol" class="form-control" ng-model="rho.hol" required>
        </div>
        <div class="form-group">
            <label for="year">College Year</label>
            <input type="text" name="year" class="form-control" ng-model="rho.year" required>
        </div>
        <div class="form-group">
            <label for="img">Image url</label>
            <input type="text" name="img" class="form-control" ng-model="rho.img" required>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="vm.submit()" ng-disabled="!rhoEditForm.$valid">Submit</button>
        <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
    </div>
</form>