<div class="jumbotron">
    <div class="container">
        <div class="col-sm-7 col-sm-offset-1">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Lambda Chi Alpha</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-2">
                    <img src="app/shared/images/vtlogo.00_png_srz" alt="vt logo">
                </div>
                <div class="col-sm-5">
                    <h2>Sigma Lambda</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-2">
            <img src="app/shared/images/lambdaCrest.00_png_srz" alt="lambda logo">
        </div>
    </div>
</div>
<div class="container" ng-controller="HomeCtrl as vm">
    <div class="col-sm-8">
        <button ng-show="vm.loggedIn" class="btn btn-primary btn-edit" ng-click="vm.addEvent()"><i class="glyphicon glyphicon-plus-sign"></i> Event</button>
        <div class="row well" ng-repeat="e in vm.events">
            <button ng-show="vm.loggedIn" class="btn btn-xs btn-danger pull-right" ng-click="vm.deleteEvent($index)"><i class="glyphicon glyphicon-remove"></i></button>
            <button ng-show="vm.loggedIn" class="btn btn-xs btn-primary pull-right" ng-click="vm.editEvent(e, $index)"><i class="glyphicon glyphicon-edit"></i></button>
            <div class="col-sm-5">
                <img class="news-img" ng-src="{{e.img}}" alt="image">
            </div>
            <div class="col-sm-7">
                <h4 class="home-title">{{e.title}}</h4>
                <h5 class="home-date">{{e.date}}</h5>
                <p class="paragraphs">
                    {{e.text}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-offset-1 col-sm-3 hidden-xs">
        <img ng-repeat="img in vm.images" class="home-img" ng-src="{{img}}" alt="" height="250" width="300">
    </div>
</div>
