.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-brand {
    img {
        margin-top: -7px;
        height: 35px;
    }
}

.navbar-nav {
    margin-left: 2em;
}

.jumbotron {
    padding-top: 2em;
    padding-bottom: 2em;
    h1 {
        color: #016a3a;
        font-weight: bold
    }
    h2 {
        color: maroon;
        font-style: italic;
        margin-top: 35px;
    }
}

#content-header {
    height: 50px;
    background-color: #016a3a;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    color: #fff;
}
